html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
}

:root{
  --primary-clr: hsl(142, 69%, 58%);
  --secondary-clr: white;
  --container-width: 60rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blue-background:disabled{
  background-color: hsl(206, 100%, 82%);
  color: hsl(0, 0%, 40%);
}

.loader{
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}