html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
}


#__next{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

main{
  flex-grow: 999;
}
:root{
  --secondary-clr: hsl(240, 100%, 27%);
  --shadow-clr: hsl(195, 60%, 85%);
  --primary-clr:  hsl(195, 53%, 79%);
  --gradient-clr: hsl(150, 53%, 40%);
  --container-width: 60rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blue-background:disabled{
  background-color: hsl(206, 100%, 82%);
  color: hsl(0, 0%, 40%);
}

.loader{
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.question_markdown{
  min-height: clamp(200px, 30vh, 250px);
}