.topNav {
    background-color: var(--primary-clr);
    color: var(--secondary-clr);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0.5rem 1.5rem;
}

.navLinks{
    display: flex;
    list-style: none;
    gap: 1rem;

}